{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content_1 %}
{% for object in object_list %}
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ object }}</h4>
            </div>
            <div class="card-header">
                <img src="{% mymedia object.image %}" class="card-img-top object-fit-none" style="height:100px;"/>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$ 140</h1>
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <li>- {{ object.description }}</li>
                    <li>- Категория {{ object.category }}</li>
                    <li>- цена {{ object.price }} руб.</li>
                    <li>- Гарантия 12 месяцев </li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}
